.specialties_wrapper {
	width: 110%;
	height: 640px;
	position: relative;
	top: -200px;
	left: -5%;
	margin-bottom: -224px;
	display: flex;
	justify-content: center;

	@media (max-width: 1064px) {
		height: 1000px;
	}

	@media (max-width: 710px) {
		height: 1600px;
	}
}

.specialties_container {
	padding: 24px 0px;
	max-width: 1330px;
	width: max-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.specialty_link {
	text-decoration: none;
}
